.nav_list {
  display: flex;
  gap: 40px;
}

.mainLink {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.links {
  color: rgb(99, 99, 99);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.links:hover,
.links:focus {
  scale: 1.15;
  color: black;
}

.user_nav_list {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
