.wrapper {
  margin: auto;
  width: 300px;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 600px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_title {
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_field {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  padding: 5px;
}

.input_field:focus {
  outline: 1px solid rgb(150, 150, 150);
}

.btn {
  margin: 5px auto 0;
  height: 35px;
  background-color: #b6ccff;
  border-radius: 10px;
  padding: 0 10px;
  border: none;
}

.error {
  color: red;
  font-size: 10px;
}
